extends ../_template

block variables
	- var title = 'De-light.ru'

block content
	
	.logo
		img(src="assets/img/logo.png")
	
	.header-nav-wrap
		.header-nav-menu
			a(href="back").nav-back-link.js-nav-link Назад
			a(href="mailto:info@de-light.ru")
				.icon-mail
			a(href="#")
				.icon-lk
		nav.header-nav.active.header-nav_main
			a(href="light").header-nav-link.parent.js-nav-link Светильники
			a(href="furniture").header-nav-link.parent.js-nav-link Мебель
			a(href="decor").header-nav-link.parent.js-nav-link Декор
			a(href="brands").header-nav-link.parent.js-nav-link Бренды
			a(href="#").header-nav-link Акции
			a(href="#").header-nav-link Ликвидация
			a(href="#").header-nav-link Проектный отдел
			a(href="#").header-nav-link Салоны de-light
			nav.header-nav-minor
				each val in ['Оплата / Доставка', 'Журнал', 'Сотрудничество', 'О компании']
					a(href="#").header-nav-minor-link= val
		nav.header-nav.header-nav_desktop.header-nav_light
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_all Посмотреть все светильники
					a(href="#").header-nav-link.header-nav-link_highligted Хрустальные люстры
					a(href="#").header-nav-link.header-nav-link_highligted Дизайнерский свет
					a(href="#").header-nav-link.header-nav-link_highligted Современные люстры
				.header-nav-banner left banner
				a(href="#").header-nav-link.header-nav-link_highligted Светильники Loft
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime На потолок
					a(href="#").header-nav-link.header-nav-link_second Люстра
					a(href="#").header-nav-link.header-nav-link_second Подвесной светильник
					a(href="#").header-nav-link.header-nav-link_second Потолочный светильник
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime На стену
					a(href="#").header-nav-link.header-nav-link_second Бра и настенный светильник
					a(href="#").header-nav-link.header-nav-link_second Подсветка для картин
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime На стол
					a(href="#").header-nav-link.header-nav-link_second Настольная лампа
					a(href="#").header-nav-link.header-nav-link_second Лампа для рабочего стола
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime На пол
					a(href="#").header-nav-link.header-nav-link_second Торшер
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Технический свет
					a(href="#").header-nav-link.header-nav-link_second Встраиваемый свет
					a(href="#").header-nav-link.header-nav-link_second Подсветка
					a(href="#").header-nav-link.header-nav-link_second Спот
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime На улицу
					a(href="#").header-nav-link.header-nav-link_second Настенный фонарь
					a(href="#").header-nav-link.header-nav-link_second Подвесной фонарь
					a(href="#").header-nav-link.header-nav-link_second Уличный светильник
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Детали
					a(href="#").header-nav-link.header-nav-link_second Абажур
					a(href="#").header-nav-link.header-nav-link_second Запчасть
					a(href="#").header-nav-link.header-nav-link_second Комплектующие
					a(href="#").header-nav-link.header-nav-link_second Плафон
					a(href="#").header-nav-link.header-nav-link_second Ретро проводка
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Лампочки
			.header-nav-banner_wide bottom banner
			.header-nav-banner_wide bottom banner
		nav.header-nav.header-nav_desktop.header-nav_furniture
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_all Посмотреть всю мебель
					a(href="#").header-nav-link.header-nav-link_highligted Мебель Eichholtz
					a(href="#").header-nav-link.header-nav-link_highligted Мебель Garda Decor
				.header-nav-banner left banner
				a(href="#").header-nav-link.header-nav-link_highligted Мягкая мебель
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Кровать
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Мягкая мебель
					a(href="#").header-nav-link.header-nav-link_second Банкетка
					a(href="#").header-nav-link.header-nav-link_second Диван
					a(href="#").header-nav-link.header-nav-link_second Кресло
					a(href="#").header-nav-link.header-nav-link_second Кушетка
					a(href="#").header-nav-link.header-nav-link_second Пуф
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Столы и консоли
					a(href="#").header-nav-link.header-nav-link_second Журнальный столик
					a(href="#").header-nav-link.header-nav-link_second Колонна
					a(href="#").header-nav-link.header-nav-link_second Консоль
					a(href="#").header-nav-link.header-nav-link_second Обеденный стол
					a(href="#").header-nav-link.header-nav-link_second Письменный стол
					a(href="#").header-nav-link.header-nav-link_second Барная стойка
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Стулья
					a(href="#").header-nav-link.header-nav-link_second Скамья
					a(href="#").header-nav-link.header-nav-link_second Стул
					a(href="#").header-nav-link.header-nav-link_second Табурет
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Мебель для хранения
					a(href="#").header-nav-link.header-nav-link_second Барный шкаф, буфет
					a(href="#").header-nav-link.header-nav-link_second Витрина
					a(href="#").header-nav-link.header-nav-link_second Комод
					a(href="#").header-nav-link.header-nav-link_second Стеллаж
					a(href="#").header-nav-link.header-nav-link_second Сундук
					a(href="#").header-nav-link.header-nav-link_second Тумба
					a(href="#").header-nav-link.header-nav-link_second Шкаф
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Ширмы
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Детская мебель
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Уличная мебель
			.header-nav-banner_wide bottom banner
			.header-nav-banner_wide bottom banner

		nav.header-nav.header-nav_desktop.header-nav_decor
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_all Посмотреть весь декор
					a(href="#").header-nav-link.header-nav-link_highligted Зеркала
					a(href="#").header-nav-link.header-nav-link_highligted Ковры
				.header-nav-banner left banner
				a(href="#").header-nav-link.header-nav-link_highligted Новый год
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Ваза
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Зеркало
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Ковер
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Напольный декор
					a(href="#").header-nav-link.header-nav-link_second Колонна
					a(href="#").header-nav-link.header-nav-link_second Лестница, телескоп
					a(href="#").header-nav-link.header-nav-link_second Фонтан
					a(href="#").header-nav-link.header-nav-link_second Мольберт
					a(href="#").header-nav-link.header-nav-link_second Для камина
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Настенный декор
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Подарки
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Посуда, сервировка
					a(href="#").header-nav-link.header-nav-link_second Блюдо, ваза
					a(href="#").header-nav-link.header-nav-link_second Бокал, стакан
					a(href="#").header-nav-link.header-nav-link_second Поднос
					a(href="#").header-nav-link.header-nav-link_second Сервизы и наборы
					a(href="#").header-nav-link.header-nav-link_second Сервировка
					a(href="#").header-nav-link.header-nav-link_second Тарелка
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Рамка для фото
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Подсвечник
					a(href="#").header-nav-link.header-nav-link_second Канделябр
					a(href="#").header-nav-link.header-nav-link_second Подсвечник
					a(href="#").header-nav-link.header-nav-link_second Свеча
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Статуэтки и фигурки
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Текстиль
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Хранение и порядок
					a(href="#").header-nav-link.header-nav-link_second Вешалка, подставка
					a(href="#").header-nav-link.header-nav-link_second Корзина, ведро
					a(href="#").header-nav-link.header-nav-link_second Подставка для зонтов
					a(href="#").header-nav-link.header-nav-link_second Сумки, чемоданы
					a(href="#").header-nav-link.header-nav-link_second Шкатулки и коробочки
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Цветы
					a(href="#").header-nav-link.header-nav-link_second Искусственные цветы
					a(href="#").header-nav-link.header-nav-link_second Кашпо и декор
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Часы
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Для вина и сигар
					a(href="#").header-nav-link.header-nav-link_second Ведро для льда
					a(href="#").header-nav-link.header-nav-link_second Пепельница
					a(href="#").header-nav-link.header-nav-link_second Подставка для бутылок
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Для книг и бумаг
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Разное
		nav.header-nav.header-nav_desktop.header-nav_brands
			.header-nav-column
				a(href="#").header-nav-link.header-nav-link_all Список всех брендов
				a(href="#").header-nav-link.header-nav-link_highligted Eichholtz
				a(href="#").header-nav-link.header-nav-link_highligted DeLight Collection
				a(href="#").header-nav-link.header-nav-link_highligted Seletti
				a(href="#").header-nav-link.header-nav-link_highligted Schuller
				a(href="#").header-nav-link.header-nav-link_highligted Illuminati
				a(href="#").header-nav-link.header-nav-link_highligted Fabbian
				a(href="#").header-nav-link.header-nav-link_highligted MM Lampadari
				a(href="#").header-nav-link.header-nav-link_highligted.header-nav-link_desktop Artemide
				a(href="#").header-nav-link.header-nav-link_highligted.header-nav-link_desktop Schonbek
				a(href="#").header-nav-link.header-nav-link_highligted.header-nav-link_desktop Serip
				a(href="#").header-nav-link.header-nav-link_highligted.header-nav-link_desktop Lasvit
				a(href="#").header-nav-link.header-nav-link_highligted.header-nav-link_desktop Karman
				a(href="#").header-nav-link.header-nav-link_highligted.header-nav-link_desktop Garda Decor
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime A
					a(href="#").header-nav-link.header-nav-link_second Abhika
					a(href="#").header-nav-link.header-nav-link_second ACF
					a(href="#").header-nav-link.header-nav-link_second Agma Lux
					a(href="#").header-nav-link.header-nav-link_second Alba Lamp
					a(href="#").header-nav-link.header-nav-link_second Album
					a(href="#").header-nav-link.header-nav-link_second Aldo Bernardi
					a(href="#").header-nav-link.header-nav-link_second Almerich
					a(href="#").header-nav-link.header-nav-link_second Antonio Ciulli
					a(href="#").header-nav-link.header-nav-link_second Aqua Light
					a(href="#").header-nav-link.header-nav-link_second Archeo Venice Design
					a(href="#").header-nav-link.header-nav-link_second Arizzi
					a(href="#").header-nav-link.header-nav-link_second Arte Veneziana
					a(href="#").header-nav-link.header-nav-link_second Artemide
					a(href="#").header-nav-link.header-nav-link_second Artificia
					a(href="#").header-nav-link.header-nav-link_second Arturo Alvarez
					a(href="#").header-nav-link.header-nav-link_second Asia Import
					a(href="#").header-nav-link.header-nav-link_second Axo Light
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime B
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime C
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime D
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime E
					a(href="#").header-nav-link.header-nav-link_second Abhika
					a(href="#").header-nav-link.header-nav-link_second ACF
					a(href="#").header-nav-link.header-nav-link_second Agma Lux
					a(href="#").header-nav-link.header-nav-link_second Alba Lamp
					a(href="#").header-nav-link.header-nav-link_second Album
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime F
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime G
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime H
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime J
					a(href="#").header-nav-link.header-nav-link_second Abhika
					a(href="#").header-nav-link.header-nav-link_second ACF
					
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime K
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime L
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime M
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
			.header-nav-column
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime N
					a(href="#").header-nav-link.header-nav-link_second Abhika
					a(href="#").header-nav-link.header-nav-link_second ACF
					a(href="#").header-nav-link.header-nav-link_second Agma Lux
					a(href="#").header-nav-link.header-nav-link_second Alba Lamp
					
					a(href="#").header-nav-link.header-nav-link_second Artemide
					a(href="#").header-nav-link.header-nav-link_second Artificia
					a(href="#").header-nav-link.header-nav-link_second Arturo Alvarez
					a(href="#").header-nav-link.header-nav-link_second Asia Import
					a(href="#").header-nav-link.header-nav-link_second Axo Light
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime O
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime P
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
				.header-nav-section
					a(href="#").header-nav-link.header-nav-link_prime Q
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari
					a(href="#").header-nav-link.header-nav-link_second BAGA
					a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
					a(href="#").header-nav-link.header-nav-link_second Badari

	.container
		h1.main-heading Интернет-магазин дизайнерских светильников, мебели и предметов интерьера
		.search
			form.search-form
				input.search-field(
					type="text"
					placeholder="Найти"
					autofocus
				)
				button.seach-submit(
					type="submit"
					title="Найти"
					value=""
				)

	.slider-main
		.slider-main-item
			img(src="assets/img/userfiles/1.jpg")
			a(href="#").slider-main-link Выбрать
		.slider-main-item
			img(src="assets/img/userfiles/1.jpg")
			a(href="#").slider-main-link Выбрать
		.slider-main-item
			img(src="assets/img/userfiles/1.jpg")
			a(href="#").slider-main-link Выбрать
			
	.container
		.slider-text
			.slider-text-item
				div Полный каталог товаров Eichholtz (Голландия), включающий все последние новинки. Дизайнерские светильники, мебель и предметы интерьера для людей, остро чувствующих стиль. 
				a(href="#").slider-link Выбрать
			.slider-text-item
				div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam fuga minus, suscipit voluptates amet. Sed possimus officia illo corporis? Numquam corporis accusantium dolor perferendis laudantium iure tempore, quibusdam asperiores nostrum.
				a(href="#").slider-link Выбрать
			.slider-text-item
				div  Lorem ipsum 
				a(href="#").slider-link Выбрать

	.features
		.container
			ul.features__list
				li.features__item
					.features__img.icon-lamp
					.features__info
						.features__title Большой выбор
						.features__desc 5653 моделей в наличии
				li.features__item
					.features__img.icon-geo
					.features__info
						.features__title 4 салона
						.features__desc 3 салона в Москве и один в Барвихе
				li.features__item
					.features__img.icon-rouble
					.features__info
						.features__title Удобная оплата
						.features__desc на сайте, курьеру или в салонах
				li.features__item
					.features__img.icon-shipment
					.features__info
						.features__title Бережная доставка
						.features__desc по всей России, по Москве 0 рублей

	.top-products-wrap.tabs-wrap
		.section-title.active.tile_black.js-tab-btn Хиты продаж
		.top-products.tab-content.active
			ul.top-products__list
				li.top-products__item
					a(href="#").product__link
						.product
							.product__star.icon-star-black Хит
							img(src="assets/img/userfiles/2.jpg").product__img
							.product__tile В наличии
							.product__title Настенный светильник Eichholtz 114783
							.product__price 10 300 ₽
				li.top-products__item
					a(href="#").product__link
						.product
							.product__star.icon-star-black Хит
							img(src="assets/img/userfiles/3.jpg").product__img
							.product__tile Скоро в продаже
							.product__title Бра Schuller 50-9327
							.product__price 10 300 ₽
				li.top-products__item
					a(href="#").product__link
						.product
							.product__star.icon-star-black Хит
							img(src="assets/img/userfiles/2.jpg").product__img
							.product__tile В наличии
							.product__title Настенный светильник Eichholtz 114783
							.product__price 10 300 ₽
				li.top-products__item
					a(href="#").product__link
						.product
							.product__star.icon-star-black Хит
							img(src="assets/img/userfiles/2.jpg").product__img
							.product__tile В наличии
							.product__title Настенный светильник Eichholtz 114783
							.product__price 10 300 ₽
				li.top-products__item
					a(href="#").product__link
						.product
							.product__star.icon-star-black Хит
							img(src="assets/img/userfiles/3.jpg").product__img
							.product__tile Скоро в продаже
							.product__title Бра Schuller 50-9327
							.product__price 10 300 ₽
				li.top-products__item
					a(href="#").product__link
						.product
							.product__star.icon-star-black Хит
							img(src="assets/img/userfiles/2.jpg").product__img
							.product__tile В наличии
							.product__title Настенный светильник Eichholtz 114783
							.product__price 10 300 ₽

		.section-title.tile_black.js-tab-btn Рекомендации
		.top-products.tab-content
			ul.top-products__list
				li.top-products__item
					a(href="#").product__link
						.product
							img(src="assets/img/userfiles/2.jpg").product__img
							.product__tile В наличии
							.product__recom-wrap
								.product__recom Delight рекомендует
							.product__title Настенный светильник Eichholtz 114783
							.product__price 10 300 ₽
				li.top-products__item
					a(href="#").product__link
						.product
							img(src="assets/img/userfiles/3.jpg").product__img
							.product__recom-wrap
								.product__recom Выбор дизайнера
							.product__title Бра Schuller 50-9327
							.product__price 10 300 ₽
				li.top-products__item
					a(href="#").product__link
						.product
							img(src="assets/img/userfiles/2.jpg").product__img
							.product__tile В наличии
							.product__recom-wrap
								.product__recom Delight рекомендует
							.product__title Настенный светильник Eichholtz 114783
							.product__price 10 300 ₽
				li.top-products__item
					a(href="#").product__link
						.product
							img(src="assets/img/userfiles/2.jpg").product__img
							.product__tile В наличии
							.product__recom-wrap
								.product__recom Delight рекомендует
							.product__title Настенный светильник Eichholtz 114783
							.product__price 10 300 ₽
				li.top-products__item
					a(href="#").product__link
						.product
							img(src="assets/img/userfiles/3.jpg").product__img
							.product__recom-wrap
								.product__recom Выбор дизайнера
							.product__title Бра Schuller 50-9327
							.product__price 10 300 ₽
				li.top-products__item
					a(href="#").product__link
						.product
							img(src="assets/img/userfiles/2.jpg").product__img
							.product__tile В наличии
							.product__recom-wrap
								.product__recom Delight рекомендует
							.product__title Настенный светильник Eichholtz 114783
							.product__price 10 300 ₽

		.section-title.tile_black.js-tab-btn Sale
		.top-products.tab-content
			ul.top-products__list
				li.top-products__item
					a(href="#").product__link
						.product
							.product__star.icon-star -14%
							img(src="assets/img/userfiles/2.jpg").product__img
							.product__tile В наличии
							.product__title Настенный светильник Eichholtz 114783
							.product__price.product__price_old 10 300 ₽
							.product__price.product__price_new 8 200 ₽
				li.top-products__item
					a(href="#").product__link
						.product
							.product__star.icon-star -20%
							img(src="assets/img/userfiles/3.jpg").product__img
							.product__tile В наличии
							.product__title Бра Schuller 50-9327
							.product__price.product__price_old 255 300 ₽
							.product__price.product__price_new 205 700 ₽
				li.top-products__item
					a(href="#").product__link
						.product
							.product__star.icon-star -10%
							img(src="assets/img/userfiles/2.jpg").product__img
							.product__tile В наличии
							.product__title Настенный светильник Eichholtz 114783
							.product__price.product__price_old 10 300 ₽
							.product__price.product__price_new 9 300 ₽
				li.top-products__item
					a(href="#").product__link
						.product
							.product__star.icon-star -14%
							img(src="assets/img/userfiles/2.jpg").product__img
							.product__tile В наличии
							.product__title Настенный светильник Eichholtz 114783
							.product__price.product__price_old 10 300 ₽
							.product__price.product__price_new 8 200 ₽
				li.top-products__item
					a(href="#").product__link
						.product
							.product__star.icon-star -20%
							img(src="assets/img/userfiles/3.jpg").product__img
							.product__tile В наличии
							.product__title Бра Schuller 50-9327
							.product__price.product__price_old 255 300 ₽
							.product__price.product__price_new 205 700 ₽
				li.top-products__item
					a(href="#").product__link
						.product
							.product__star.icon-star -10%
							img(src="assets/img/userfiles/2.jpg").product__img
							.product__tile В наличии
							.product__title Настенный светильник Eichholtz 114783
							.product__price.product__price_old 10 300 ₽
							.product__price.product__price_new 9 300 ₽
		
	.slider-collections
		.coll-slide
			img(src="assets/img/userfiles/4.jpg").coll-slide__img
			.coll-slide-inner
				.coll-slide__tile
					.tile_black Подборки
				.coll-slide__info
					.container
						.coll-slide__title Светильник обезьяна Seletti
						.coll-slide__desc Забавная и стильная серия светильников Seletti Monkey Lamp в виде обезьян, держащих в лапах лампочки
						a(href="#").coll-slide__link посмотреть
		.coll-slide
			img(src="assets/img/userfiles/1.jpg").coll-slide__img
			.coll-slide-inner
				.coll-slide__tile
					.tile_black Подборки
				.coll-slide__info
					.container
						.coll-slide__title Светильник обезьяна Seletti
						.coll-slide__desc Забавная и стильная серия светильников Seletti Monkey Lamp в виде обезьян, держащих в лапах лампочки
						a(href="#").coll-slide__link посмотреть
		.coll-slide
			img(src="assets/img/userfiles/4.jpg").coll-slide__img
			.coll-slide-inner
				.coll-slide__tile
					.tile_black Подборки
				.coll-slide__info
					.container
						.coll-slide__title Светильник обезьяна Seletti
						.coll-slide__desc Забавная и стильная серия светильников Seletti Monkey Lamp в виде обезьян, держащих в лапах лампочки
						a(href="#").coll-slide__link посмотреть

	.brands
		.container
			.brands__title Популярные бренды
			.brands__list
				.brand
					img(src="assets/img/userfiles/5.jpg").brand__img
					img(src="assets/img/userfiles/brand-1.png").brand__logo
					.brand__text Eichholtz: вы можете купить светильники и предметы интерьера Eichholtz в нашем интернет-магазине
				.brand
					img(src="assets/img/userfiles/5.jpg").brand__img
					img(src="assets/img/userfiles/brand-2.png").brand__logo
					.brand__text Eichholtz: вы можете купить светильники и предметы интерьера Eichholtz в нашем интернет-магазине
				.brand
					img(src="assets/img/userfiles/5.jpg").brand__img
					img(src="assets/img/userfiles/brand-3.png").brand__logo
					.brand__text Eichholtz: вы можете купить светильники и предметы интерьера Eichholtz в нашем интернет-магазине
				.brand
					img(src="assets/img/userfiles/5.jpg").brand__img
					img(src="assets/img/userfiles/brand-4.png").brand__logo
					.brand__text Eichholtz: вы можете купить светильники и предметы интерьера Eichholtz в нашем интернет-магазине
				.brand
					img(src="assets/img/userfiles/brand-1.png").brand__logo
				.brand
					img(src="assets/img/userfiles/brand-2.png").brand__logo
				.brand
					img(src="assets/img/userfiles/brand-3.png").brand__logo
				.brand
					img(src="assets/img/userfiles/brand-4.png").brand__logo

	.partnership
		img(src="assets/img/userfiles/1.jpg").partnership__img
		.partnership__info
			.container
				.partnership__title Сотрудничество
				.partnership__desc DeLight приглашает к сотрудничеству дизайнеров, ритейлеров и региональных дилеров
				.partnership__btns-wrap
					a(href="#").partnership__btn Дизайнерам
					a(href="#").partnership__btn Ритейлерам

	.extracts
		.container
			.extract
				.extract__title Дизайнерские светильники
				.extract__text Основное направлениеDeLight – продажа светильников сегмента премиум таких брендов, как Eichholtz, Schonbek, Schuller, Artemide и многих других. В нашем интернет-магазине вы найдете: изысканные хрустальные люстры, дизайнерские светильники, подвесные, потолочные, напольные светильники, бра, настольные лампы и торшеры
			.extract
				.extract__title Стильная мебель
				.extract__text В интернет-магазине представлен широкий ассортимент стульев и кресел, столов и журнальных столиков, консолей и комодов из ценных пород дерева, кровати с балдахинами для поклонников классики и шкафы с дизайнерскими узорами для ценителей современного дизайна.
			.extract
				.extract__title Уютный Декор
				.extract__text Вазы для цветов, подсвечники и свечи, рамки для фотографий, аксессуары для письма, изящные статуэтки, зеркала и многое другое – эти изысканные украшения интерьера также могут стать прекрасным подарком. Например, настенные панно Maurichi Van Dime – это коллекционные изделия и с течением времени их ценность только увеличивается. 
			.extract
				.extract__title интернет-магазин
				.extract__text Основное направление, с которого более 20 лет назад компания начала свою деятельность – оптовая и розничная продажа светильников класса люкс и премиум от ведущих европейских брендов, таких как Eichholtz, Schonbek, MM Lampadari, Schuller, Artemide и др.

	.social-galleries-wrap.tabs-wrap
		.social-gallery.tab-content.active
			.section-title.tile_black.js-tab-btn.active @delight_lighting
			.social-gallery__slider-wrap
				.container
					.social-gallery__slider
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/1.jpg" height="90").social-gallery__img
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/4.jpg" height="90").social-gallery__img
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/5.jpg" height="90").social-gallery__img
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/6.jpg" height="90").social-gallery__img
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/1.jpg" height="90").social-gallery__img
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/4.jpg" height="90").social-gallery__img
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/5.jpg" height="90").social-gallery__img
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/6.jpg" height="90").social-gallery__img

		.social-gallery.tab-content
			.section-title.tile_black.js-tab-btn @EICHHOLTZ.PROJECT
			.social-gallery__slider-wrap
				.container
					.social-gallery__slider#eicholtz-tab
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/1.jpg" height="90").social-gallery__img
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/4.jpg" height="90").social-gallery__img
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/5.jpg" height="90").social-gallery__img
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/6.jpg" height="90").social-gallery__img
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/1.jpg" height="90").social-gallery__img
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/4.jpg" height="90").social-gallery__img
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/5.jpg" height="90").social-gallery__img
						a(href="#").social-gallery__link
							img(src="assets/img/userfiles/6.jpg" height="90").social-gallery__img

	.subscribe
		.container
			p Подпишитесь на новости и закрытые распродажи DeLight
			form.subscribe__form
				input(type="email" name="email" placeholder="e-mail *").subscribe__input.text-input
				input(type="text" name="name" placeholder="имя").subscribe__input.text-input
				button(type="submit").subscribe__btn Подписаться