extends ../_template

block variables
	- var title = 'De-light.ru'

block logo
	.logo
		img(src="assets/img/logo.svg" alt="")
block content
		
	.container
		#main-heading_mobile
			h1.main-heading Интернет-магазин дизайнерских светильников, мебели и предметов интерьера
		.search
			form.search-form
				input.search-field(
					type="text"
					placeholder="Найти"
					autofocus
				)
				button.seach-submit(
					type="submit"
					title="Найти"
					value=""
				)

	.slider-main
		.slider-main-item(style="background-image:url(assets/img/userfiles/1.jpg);")
			a(href="#").slider-main-link Выбрать
		.slider-main-item(style="background-image:url(assets/img/userfiles/slide-1.jpg);")
			a(href="#").slider-main-link Выбрать
		.slider-main-item(style="background-image:url(assets/img/userfiles/1.jpg);")
			a(href="#").slider-main-link Выбрать
			
	.container
		.slider-text
			.slider-text-item
				div Полный каталог товаров Eichholtz (Голландия), включающий все последние новинки. Дизайнерские светильники, мебель и предметы интерьера для людей, остро чувствующих стиль. 
				a(href="#").slider-link Выбрать
			.slider-text-item
				div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam fuga minus, suscipit voluptates amet. Sed possimus officia illo corporis? Numquam corporis accusantium dolor perferendis laudantium iure tempore, quibusdam asperiores nostrum.
				a(href="#").slider-link Выбрать
			.slider-text-item
				div  Lorem ipsum 
				a(href="#").slider-link Выбрать

	.features
		.container
			#main-heading_desktop
			ul.features__list
				li.features__item
					.features__img-wrap
						.features__img.icon-svg-lamp
					.features__info
						a(href="#").features__title Большой выбор
						.features__desc 5653 моделей в наличии
				li.features__item
					.features__img-wrap
						.features__img.icon-svg-geo
					.features__info
						a(href="#").features__title 4 салона
						.features__desc 3 салона в Москве и один в Барвихе
				li.features__item
					.features__img-wrap
						.features__img.icon-svg-rouble
					.features__info
						a(href="#").features__title Удобная оплата
						.features__desc на сайте, курьеру или в салонах
				li.features__item
					.features__img-wrap
						.features__img.icon-svg-shipment
					.features__info
						a(href="#").features__title Бережная доставка
						.features__desc по всей России, по Москве 0 рублей

	.top-products-wrap.tabs-wrap
		.prod-titles-wrap
		.title-wrap_hit
			.section-title.active.tile_black.js-tab-btn.title_hit Хиты продаж
		.top-products.tab-content.active
			ul.top-products__list
				li.top-products__item
					.product
						.product__star.icon-svg-star Хит
						a(href="#").product__link
							img(src="assets/img/userfiles/product-1.jpg" alt="").product__img
						.product__tile В наличии
						.product__title Настенный светильник Eichholtz 114783
						.product__price 10 300 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
				li.top-products__item
					.product
						.product__star.icon-svg-star Хит
						a(href="#").product__link
							img(src="assets/img/userfiles/product-2.jpg" alt="").product__img
						.product__tile Скоро в продаже
						.product__title Бра Schuller 50-9327
						.product__price 10 300 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
				li.top-products__item
					.product
						.product__star.icon-svg-star Хит
						a(href="#").product__link
							img(src="assets/img/userfiles/product-3.jpg" alt="").product__img
						.product__tile В наличии
						.product__title Настенный светильник Eichholtz 114783
						.product__price 10 300 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
				li.top-products__item
					.product
						.product__star.icon-svg-star Хит
						a(href="#").product__link
							img(src="assets/img/userfiles/product-4.jpg" alt="").product__img
						.product__tile В наличии
						.product__title Настенный светильник Eichholtz 114783
						.product__price 10 300 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
				li.top-products__item
					.product
						.product__star.icon-svg-star Хит
						a(href="#").product__link
							img(src="assets/img/userfiles/product-5.jpg" alt="").product__img
						.product__tile Скоро в продаже
						.product__title Бра Schuller 50-9327
						.product__price 10 300 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
				li.top-products__item
					.product
						.product__star.icon-svg-star Хит
						a(href="#").product__link
							img(src="assets/img/userfiles/product-6.jpg" alt="").product__img
						.product__tile В наличии
						.product__title Настенный светильник Eichholtz 114783
						.product__price 10 300 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
		
		.title-wrap_recom
			.section-title.tile_black.js-tab-btn.title_recom Рекомендации
		.top-products.tab-content
			ul.top-products__list
				li.top-products__item
					.product
						a(href="#").product__link
							img(src="assets/img/userfiles/product-3.jpg" alt="").product__img
						.product__tile В наличии
						.product__recom-wrap
							.product__recom Delight рекомендует
						.product__title Настенный светильник Eichholtz 114783
						.product__price 10 300 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
				li.top-products__item
					.product
						a(href="#").product__link
							img(src="assets/img/userfiles/product-6.jpg" alt="").product__img
						.product__recom-wrap
							.product__recom Выбор дизайнера
						.product__title Бра Schuller 50-9327
						.product__price 10 300 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
				li.top-products__item
					.product
						a(href="#").product__link
							img(src="assets/img/userfiles/product-1.jpg" alt="").product__img
						.product__tile В наличии
						.product__recom-wrap
							.product__recom Delight рекомендует
						.product__title Настенный светильник Eichholtz 114783
						.product__price 10 300 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
				li.top-products__item
					.product
						a(href="#").product__link
							img(src="assets/img/userfiles/product-5.jpg" alt="").product__img
						.product__tile В наличии
						.product__recom-wrap
							.product__recom Delight рекомендует
						.product__title Настенный светильник Eichholtz 114783
						.product__price 10 300 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
				li.top-products__item
					.product
						a(href="#").product__link
							img(src="assets/img/userfiles/product-2.jpg" alt="").product__img
						.product__recom-wrap
							.product__recom Выбор дизайнера
						.product__title Бра Schuller 50-9327
						.product__price 10 300 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
				li.top-products__item
					.product
						a(href="#").product__link
							img(src="assets/img/userfiles/product-4.jpg" alt="").product__img
						.product__tile В наличии
						.product__recom-wrap
							.product__recom Delight рекомендует
						.product__title Настенный светильник Eichholtz 114783
						.product__price 10 300 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное

		.title-wrap_sale
		.section-title.tile_black.js-tab-btn.title_sale Sale
		.top-products.tab-content
			ul.top-products__list
				li.top-products__item
					.product
						.product__star.icon-svg-star-red -14%
						a(href="#").product__link
							img(src="assets/img/userfiles/product-5.jpg" alt="").product__img
						.product__tile В наличии
						.product__title Настенный светильник Eichholtz 114783
						.product__price.product__price_old 10 300 ₽
						.product__price.product__price_new 8 200 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
				li.top-products__item
					.product
						.product__star.icon-svg-star-red -20%
						a(href="#").product__link
							img(src="assets/img/userfiles/product-6.jpg" alt="").product__img
						.product__tile В наличии
						.product__title Бра Schuller 50-9327
						.product__price.product__price_old 255 300 ₽
						.product__price.product__price_new 205 700 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
				li.top-products__item
					.product
						.product__star.icon-svg-star-red -10%
						a(href="#").product__link
							img(src="assets/img/userfiles/product-1.jpg" alt="").product__img
						.product__tile В наличии
						.product__title Настенный светильник Eichholtz 114783
						.product__price.product__price_old 10 300 ₽
						.product__price.product__price_new 9 300 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
				li.top-products__item
					.product
						.product__star.icon-svg-star-red -14%
						a(href="#").product__link
							img(src="assets/img/userfiles/product-3.jpg" alt="").product__img
						.product__tile В наличии
						.product__title Настенный светильник Eichholtz 114783
						.product__price.product__price_old 10 300 ₽
						.product__price.product__price_new 8 200 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
				li.top-products__item
					.product
						.product__star.icon-svg-star-red -20%
						a(href="#").product__link
							img(src="assets/img/userfiles/product-4.jpg" alt="").product__img
						.product__tile В наличии
						.product__title Бра Schuller 50-9327
						.product__price.product__price_old 255 300 ₽
						.product__price.product__price_new 205 700 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
				li.top-products__item
					.product
						.product__star.icon-svg-star-red -10%
						a(href="#").product__link
							img(src="assets/img/userfiles/product-2.jpg" alt="").product__img
						.product__tile В наличии
						.product__title Настенный светильник Eichholtz 114783
						.product__price.product__price_old 10 300 ₽
						.product__price.product__price_new 9 300 ₽
						.product__buttons
							.product__btn.green Купить
							.product__btn.transparent В избранное
		
	.slider-collections
		.coll-slide
			.coll-slide__img(style="background-image:url(assets/img/userfiles/slide-1.jpg);")
			.coll-slide-inner
				.coll-slide__tile
					.tile_black Подборки
				.coll-slide__info
					.container
						.coll-slide__title Светильник обезьяна Seletti
						.coll-slide__desc Забавная и стильная серия светильников Seletti Monkey Lamp в виде обезьян, держащих в лапах лампочки
						a(href="#").coll-slide__link посмотреть
		.coll-slide
			.coll-slide__img(style="background-image:url(assets/img/userfiles/1.jpg);")
			.coll-slide-inner
				.coll-slide__tile
					.tile_black Подборки
				.coll-slide__info
					.container
						.coll-slide__title  Светильник обезьяна Seletti
						.coll-slide__desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus vel provident repellendus vero repellat dolore, odio ullam mollitia natus enim architecto nesciunt, commodi facilis aut expedita, eum rerum molestiae consequuntur.
						a(href="#").coll-slide__link посмотреть
		.coll-slide
			.coll-slide__img(style="background-image:url(assets/img/userfiles/slide-1.jpg);")
			.coll-slide-inner
				.coll-slide__tile
					.tile_black Подборки
				.coll-slide__info
					.container
						.coll-slide__title Светильник обезьяна Seletti
						.coll-slide__desc Забавная и стильная серия светильников Seletti Monkey Lamp в виде обезьян, держащих в лапах лампочки
						a(href="#").coll-slide__link посмотреть
		.coll-slide
			.coll-slide__img(style="background-image:url(assets/img/userfiles/slide-1.jpg);")
			.coll-slide-inner
				.coll-slide__tile
					.tile_black Подборки
				.coll-slide__info
					.container
						.coll-slide__title Светильник обезьяна Seletti
						.coll-slide__desc Забавная и стильная серия светильников Seletti Monkey Lamp в виде обезьян, держащих в лапах лампочки
						a(href="#").coll-slide__link посмотреть
		.coll-slide
			.coll-slide__img(style="background-image:url(assets/img/userfiles/slide-1.jpg);")
			.coll-slide-inner
				.coll-slide__tile
					.tile_black Подборки
				.coll-slide__info
					.container
						.coll-slide__title Светильник обезьяна Seletti
						.coll-slide__desc Забавная и стильная серия светильников Seletti Monkey Lamp в виде обезьян, держащих в лапах лампочки
						a(href="#").coll-slide__link посмотреть								

	.brands
		.container
			.brands__title Популярные бренды
			.brands__list
				.brand
					a(href="#")
						img(src="assets/img/userfiles/brand-1.jpg" alt="").brand__img
						.brand__logo-wrap
							img(src="assets/img/userfiles/brand-1.png" alt="").brand__logo
						.brand__text Eichholtz: вы можете купить светильники и предметы интерьера Eichholtz в нашем интернет-магазине
				.brand
					a(href="#")
						img(src="assets/img/userfiles/brand-2.jpg" alt="").brand__img
						.brand__logo-wrap
							img(src="assets/img/userfiles/brand-2.png" alt="").brand__logo
						.brand__text Eichholtz: вы можете купить светильники и предметы интерьера Eichholtz в нашем интернет-магазине
				.brand
					a(href="#")
						img(src="assets/img/userfiles/brand-3.jpg" alt="").brand__img
						.brand__logo-wrap
							img(src="assets/img/userfiles/brand-3.png" alt="").brand__logo
						.brand__text Eichholtz: вы можете купить светильники и предметы интерьера Eichholtz в нашем интернет-магазине
				.brand
					a(href="#")
						img(src="assets/img/userfiles/brand-4.jpg" alt="").brand__img
						.brand__logo-wrap
							img(src="assets/img/userfiles/brand-4.png" alt="").brand__logo
						.brand__text Eichholtz: вы можете купить светильники и предметы интерьера Eichholtz в нашем интернет-магазине
				.brand
					a(href="#")
						.brand__logo-wrap
							img(src="assets/img/userfiles/brand-1.png" alt="").brand__logo
				.brand
					a(href="#")
						.brand__logo-wrap
							img(src="assets/img/userfiles/brand-2.png" alt="").brand__logo
				.brand
					a(href="#")
						.brand__logo-wrap
							img(src="assets/img/userfiles/brand-3.png" alt="").brand__logo
				.brand
					a(href="#")
						.brand__logo-wrap
							img(src="assets/img/userfiles/brand-4.png" alt="").brand__logo

	.partnership
		.partnership__img(style="background-image:url(assets/img/userfiles/1-wide.jpg);")
		.partnership__info
			.container
				.partnership__title Сотрудничество
				.partnership__desc DeLight приглашает к сотрудничеству дизайнеров, ритейлеров и региональных дилеров
				.partnership__btns-wrap
					a(href="#").partnership__btn Дизайнерам
					a(href="#").partnership__btn Ритейлерам

	.extracts
		.container
			.extract
				.extract__title Дизайнерские светильники
				.extract__text Основное направлениеDeLight – продажа светильников сегмента премиум таких брендов, как Eichholtz, Schonbek, Schuller, Artemide и многих других. В нашем интернет-магазине вы найдете: изысканные хрустальные люстры, дизайнерские светильники, подвесные, потолочные, напольные светильники, бра, настольные лампы и торшеры
			.extract
				.extract__title Стильная мебель
				.extract__text В интернет-магазине представлен широкий ассортимент стульев и кресел, столов и журнальных столиков, консолей и комодов из ценных пород дерева, кровати с балдахинами для поклонников классики и шкафы с дизайнерскими узорами для ценителей современного дизайна.
			.extract
				.extract__title Уютный Декор
				.extract__text Вазы для цветов, подсвечники и свечи, рамки для фотографий, аксессуары для письма, изящные статуэтки, зеркала и многое другое – эти изысканные украшения интерьера также могут стать прекрасным подарком. Например, настенные панно Maurichi Van Dime – это коллекционные изделия и с течением времени их ценность только увеличивается. 
			.extract
				.extract__title интернет-магазин
				.extract__text Основное направление, с которого более 20 лет назад компания начала свою деятельность – оптовая и розничная продажа светильников класса люкс и премиум от ведущих европейских брендов, таких как Eichholtz, Schonbek, MM Lampadari, Schuller, Artemide и др.

	.social-galleries-wrap.tabs-wrap
		.social-gallery.tab-content.active
			.title-wrap_lighting
				.section-title.tile_black.js-tab-btn.title_lighting.active @delight_lighting
			.social-gallery__slider-wrap
				.container
					.social-gallery__slider#soc-gal-delight
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/1.jpg);")
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/slide-1.jpg);")
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/brand-4.jpg);")
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/brand-2.jpg);")
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/brand-1.jpg);")
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/1.jpg);")
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/brand-2.jpg);")
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/brand-3.jpg);")

		.social-gallery.tab-content
			.title-wrap_eichprj
				.section-title.tile_black.js-tab-btn.js-tab-btn-eichholtz.title_eichprj @EICHHOLTZ.PROJECT
			.social-gallery__slider-wrap
				.container
					.social-gallery__slider#eicholtz-tab
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/brand-1.jpg);")
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/brand-4.jpg);")
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/1.jpg);")
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/brand-3.jpg);")
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/slide-1.jpg);")
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/brand-2.jpg);")
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/brand-4.jpg);")
						a(href="#").social-gallery__link
							.social-gallery__img(style="background-image:url(assets/img/userfiles/brand-3.jpg);")

	.subscribe
		.container
			p Подпишитесь на новости и закрытые распродажи DeLight
			form.subscribe__form
				.subscribe__wrap
					input(type="email" name="email" placeholder="e-mail *").subscribe__input.text-input
					input(type="text" name="name" placeholder="имя").subscribe__input.text-input
					button(type="submit").subscribe__btn.js-submit Подписаться
				.subscribe__error Неверный e-mail или имя