extends ../_template

block variables
	- var title = 'De-light.ru'

block content
	.container
		.logo
			img(src="assets/img/logo.png")
		h1.main-heading Интернет-магазин дизайнерских светильников, мебели и предметов интерьера
		.search
			form.search-form
				input.search-field(
					type="text"
					placeholder="Найти"
					autofocus
				)
				button.seach-submit(
					type="submit"
					title="Найти"
					value=""
				)

	.slider-main
		.slider-main-item
			img(src="assets/img/userfiles/1.jpg")
		.slider-main-item
			img(src="assets/img/userfiles/4.jpg")
		.slider-main-item
			img(src="assets/img/userfiles/5.jpg")
			
	.container
		.slider-text
			.slider-text-item
				div Полный каталог товаров Eichholtz (Голландия), включающий все последние новинки. Дизайнерские светильники, мебель и предметы интерьера для людей, остро чувствующих стиль. 
				a(href="#").slider-link Выбрать
			.slider-text-item
				div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam fuga minus, suscipit voluptates amet. Sed possimus officia illo corporis? Numquam corporis accusantium dolor perferendis laudantium iure tempore, quibusdam asperiores nostrum.
				a(href="#").slider-link Выбрать
			.slider-text-item
				div  Lorem ipsum 
				a(href="#").slider-link Выбрать

	.features
		.container
			ul.features__list
				li.features__item
					.features__img.icon-lamp
					.features__title Большой выбор
					.features__desc 5653 моделей в наличии
				li.features__item
					.features__img.icon-geo
					.features__title 4 салона
					.features__desc 3 салона в Москве и один в Барвихе
				li.features__item
					.features__img.icon-rouble
					.features__title Удобная оплата
					.features__desc на сайте, курьеру или в салонах
				li.features__item
					.features__img.icon-shipment
					.features__title Бережная доставка
					.features__desc по всей России, по Москве 0 рублей

	.top-products
		.section-title.tile_black Хиты продаж
		ul.top-products__list
			li.top-products__item
				.product
					.product__star.product__star_hit.icon-star-black Хит
					img(src="assets/img/userfiles/2.jpg").product__img
					.product__tile В наличии
					.product__title Настенный светильник Eichholtz 114783
					.product__price 10 300 ₽
			li.top-products__item
				.product
					.product__star.product__star_hit.icon-star-black Хит
					img(src="assets/img/userfiles/3.jpg").product__img
					.product__tile Скоро в продаже
					.product__title Бра Schuller 50-9327
					.product__price 10 300 ₽
			li.top-products__item
				.product
					.product__star.product__star_hit.icon-star-black Хит
					img(src="assets/img/userfiles/2.jpg").product__img
					.product__tile В наличии
					.product__title Настенный светильник Eichholtz 114783
					.product__price 10 300 ₽

	.top-products
		.section-title.tile_black Рекомендации
		ul.top-products__list
			li.top-products__item
				.product
					img(src="assets/img/userfiles/2.jpg").product__img
					.product__tile В наличии
					.product__recom Delight рекомендует
					.product__title Настенный светильник Eichholtz 114783
					.product__price 10 300 ₽
			li.top-products__item
				.product
					img(src="assets/img/userfiles/3.jpg").product__img
					.product__title Бра Schuller 50-9327
					.product__recom Выбор дизайнера
					.product__price 10 300 ₽
			li.top-products__item
				.product
					img(src="assets/img/userfiles/2.jpg").product__img
					.product__tile В наличии
					.product__recom Delight рекомендует
					.product__title Настенный светильник Eichholtz 114783
					.product__price 10 300 ₽

	.top-products
		.section-title.tile_black Sale
		ul.top-products__list
			li.top-products__item
				.product
					.product__star.product__star_sale -14%
					img(src="assets/img/userfiles/2.jpg").product__img
					.product__tile В наличии
					.product__title Настенный светильник Eichholtz 114783
					.product__price.product__price_old 10 300 ₽
					.product__price.product__price_new 8 200 ₽
			li.top-products__item
				.product
					.product__star.product__star_sale -20%
					img(src="assets/img/userfiles/3.jpg").product__img
					.product__tile В наличии
					.product__title Бра Schuller 50-9327
					.product__price.product__price_old 255 300 ₽
					.product__price.product__price_new 205 700 ₽
			li.top-products__item
				.product
					.product__star.product__star_sale -10%
					img(src="assets/img/userfiles/2.jpg").product__img
					.product__tile В наличии
					.product__title Настенный светильник Eichholtz 114783
					.product__price.product__price_old 10 300 ₽
					.product__price.product__price_new 9 300 ₽
		
		.slider-collections
			.coll-slide
				img(src="assets/img/userfiles/1.jpg").coll-slide__img
				.coll-slide__tile.tile_black Подборки
				.coll-slide__info
					.coll-slide__title Светильник обезьяна Seletti
					.coll-slide__desc Забавная и стильная серия светильников Seletti Monkey Lamp в виде обезьян, держащих в лапах лампочки
					a(href="#").coll-slide__link посмотреть
			.coll-slide
				img(src="assets/img/userfiles/4.jpg").coll-slide__img
				.coll-slide__tile.tile_black Подборки
				.coll-slide__info
					.coll-slide__title Светильник обезьяна Seletti
					.coll-slide__desc Забавная и стильная серия светильников Seletti Monkey Lamp в виде обезьян, держащих в лапах лампочки
					a(href="#").coll-slide__link посмотреть

		.brands
			.brands__title Популярные бренды
			.brands__list
				.brand
					img(src="assets/img/userfiles/5.jpg").brand__img
					img(src="assets/img/userfiles/brand-1.png").brand__logo
					.brand__text Eichholtz: вы можете купить светильники и предметы интерьера Eichholtz в нашем интернет-магазине
				.brand
					img(src="assets/img/userfiles/6.jpg").brand__img
					img(src="assets/img/userfiles/brand-2.png").brand__logo
					.brand__text Eichholtz: вы можете купить светильники и предметы интерьера Eichholtz в нашем интернет-магазине
				.brand
					img(src="assets/img/userfiles/5.jpg").brand__img
					img(src="assets/img/userfiles/brand-3.png").brand__logo
					.brand__text Eichholtz: вы можете купить светильники и предметы интерьера Eichholtz в нашем интернет-магазине
				.brand
					img(src="assets/img/userfiles/6.jpg").brand__img
					img(src="assets/img/userfiles/brand-4.png").brand__logo
					.brand__text Eichholtz: вы можете купить светильники и предметы интерьера Eichholtz в нашем интернет-магазине
				.brand
					img(src="assets/img/userfiles/brand-1.png").brand__logo
				.brand
					img(src="assets/img/userfiles/brand-2.png").brand__logo
				.brand
					img(src="assets/img/userfiles/brand-3.png").brand__logo
				.brand
					img(src="assets/img/userfiles/brand-4.png").brand__logo

		.partnership
			img(src="assets/img/userfiles/1.jpg").partnership__img
			.partnership__info
				.partnership__title Сотрудничество
				.partnership__desc DeLight приглашает к сотрудничеству дизайнеров, ритейлеров и региональных дилеров
				a(href="#").partnership__btn Дизайнерам
				a(href="#").partnership__btn Ритейлерам

		.extracts
			.extract
				.extract__title Дизайнерские светильники
				.extract__text Основное направлениеDeLight – продажа светильников сегмента премиум таких брендов, как Eichholtz, Schonbek, Schuller, Artemide и многих других. В нашем интернет-магазине вы найдете: изысканные хрустальные люстры, дизайнерские светильники, подвесные, потолочные, напольные светильники, бра, настольные лампы и торшеры
			.extract
				.extract__title Стильная мебель
				.extract__text В интернет-магазине представлен широкий ассортимент стульев и кресел, столов и журнальных столиков, консолей и комодов из ценных пород дерева, кровати с балдахинами для поклонников классики и шкафы с дизайнерскими узорами для ценителей современного дизайна.
			.extract
				.extract__title Уютный Декор
				.extract__text Вазы для цветов, подсвечники и свечи, рамки для фотографий, аксессуары для письма, изящные статуэтки, зеркала и многое другое – эти изысканные украшения интерьера также могут стать прекрасным подарком. Например, настенные панно Maurichi Van Dime – это коллекционные изделия и с течением времени их ценность только увеличивается. 
			.extract
				.extract__title интернет-магазин
				.extract__text Основное направление, с которого более 20 лет назад компания начала свою деятельность – оптовая и розничная продажа светильников класса люкс и премиум от ведущих европейских брендов, таких как Eichholtz, Schonbek, MM Lampadari, Schuller, Artemide и др.

		.social-gallery
			.section-title.tile_black @delight_lighting
			.social-gallery__slider
				a(href="#")
					img(src="assets/img/userfiles/1.jpg").social-gallery__img
				a(href="#")
					img(src="assets/img/userfiles/4.jpg").social-gallery__img
				a(href="#")
					img(src="assets/img/userfiles/5.jpg").social-gallery__img
				a(href="#")
					img(src="assets/img/userfiles/6.jpg").social-gallery__img

		.social-gallery
			.section-title.tile_black @EICHHOLTZ.PROJECT
			.social-gallery__slider
				a(href="#")
					img(src="assets/img/userfiles/1.jpg").social-gallery__img
				a(href="#")
					img(src="assets/img/userfiles/4.jpg").social-gallery__img
				a(href="#")
					img(src="assets/img/userfiles/5.jpg").social-gallery__img
				a(href="#")
					img(src="assets/img/userfiles/6.jpg").social-gallery__img

		.subscribe
			p Подпишитесь на новости и закрытые распродажи DeLight
			form.subscribe__form
				input(type="email" name="email").subscribe__input
				input(type="text" name="name").subscribe__input
				button(type="submit") Подписаться